/* Resetando estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do Corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #f06060;
    color: #0a0303;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Seção Principal */
#home {
    background: #ffffff;
    text-align: center;
    padding: 3rem 0;
}

#home .hero {
    max-width: 800px;
    margin: 0 auto;
}

#home h2 {
    font-size: 2.5rem;
}

#home p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

button a {
    background-color: #ff6b6b;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

/* Produtos */
#produtos {
    padding: 2rem;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-around;
}

.product-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.product-item img {
    width: 100%;
    border-radius: 5px;
}

.product-item button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Blog */
#blog {
    background-color: #f9f9f9;
    padding: 2rem;
}

.blog-post {
    margin-bottom: 1.5rem;
}

/* Formulário */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}
