@charset "UTF-8";

*{
  font-family: Georgia, 'Times New Roman', Times, serif;  
}
body{
    background-image: linear-gradient(to right,#ddd,#444);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    width: 60%;
    padding: 2%;
    margin: 0 auto;

    h1{
        color: rgb(140,76,8);
    }
    h2{
        color: rgb(140,76,8);
    }
    p{text-align: justify;}
}
<section{
    margin-top: 0px;
    padding-top: 5px;
    border-top: solid 1px gray;
}